$color1: rgba(81, 111, 155, 1);
$color2: rgba(227, 227, 227, 1);
$color3: #bacdeb;
$color4: rgb(108, 140, 184);
$color5: rgba(32, 62, 107, 1);
$color6: #fff;
$color7: #e5f0fe;
$color8: #E0E0E0;

$h1-font: 'Rouge Script', cursive;
$h2-font: 'Norican', cursive;
$h3-font: 'Lato', sans-serif;
$h4-font: 'Lato', sans-serif;
$p-font: 'Lato', sans-serif;

// breakpoints
$bp1-max: 649px;
$bp1-min: 650px;

// font-family: 'Dancing Script', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Norican', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'Rouge Script', cursive;
