* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Rouge Script", cursive;
  font-weight: normal;
  color: #e3e3e3;
  padding: 0.3rem;
  font-size: 2rem;
}

h2 {
  font-family: "Norican", cursive;
  font-size: 1.5rem;
  text-align: center;
  font-weight: lighter;
  color: #516f9b;
  background-color: #bacdeb;
  margin: 0.25rem 0;
  border-radius: 5px;
}

h3 {
  font-family: "Lato", sans-serif;
  color: #516f9b;
  background-color: #bacdeb;
  padding: 0.2rem;
  font-size: 1rem;
}

h4 {
  font-family: "Lato", sans-serif;
  color: #516f9b;
  font-size: 1rem;
  padding: 0.2rem;
}

h5 {
  color: #516f9b;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.section-container {
  margin: 0.25rem 0;
  border: solid 2px #bacdeb;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

input:focus {
  box-shadow: 0px 0px 8px 1px rgba(85, 85, 85, 0.281);
}

button {
  border: 0;
  border-radius: 5px;
  background: #516f9b;
  color: #e3e3e3;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.4rem;
  margin: 0.2rem;
  cursor: pointer;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.spaceBetween {
  justify-content: space-between;
}

.spaceAround {
  justify-content: space-around;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.justifyCenter {
  justify-content: center;
}

.alignItemsCenter {
  align-items: center;
}

.alignContentCenter {
  align-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #516f9b;
  grid-area: header;
  padding: 0 1rem;
}

.header_icon {
  cursor: pointer;
  max-height: 2rem;
  max-width: 2rem;
}

.global-layout {
  min-height: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-layout {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  flex: 1;
  overflow: auto;
  z-index: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #516f9b;
  grid-area: navbar;
}

.navIcon {
  margin: 0.5rem;
  padding: 0.2rem;
  max-height: 2.5rem;
  max-width: 2.5rem;
  z-index: 2;
}

.drawer-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #bacdeb;
  margin: 0;
  padding: 0;
}

.inventory-category-arrow {
  margin-left: auto;
  max-height: 1.5rem;
  max-width: 1.5rem;
  transform: rotateZ(0deg);
  transition: transform 0.4s ease-out;
}
.inventory-category-arrow.rotated {
  transform: rotateZ(180deg);
  transition: transform 0.4s ease-out;
}

.inventory-category_list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-evenly;
  list-style: none;
  max-height: 200px;
  transition: max-height 0.4s ease-in-out;
}
.inventory-category_list.retracted {
  max-height: 0;
}

.inventory-category_name {
  border: #bacdeb 1px solid;
}
.inventory-category_name.inactive {
  background-color: #fff;
  border: #bacdeb 1px solid;
  color: #516f9b;
}
.inventory-category_name:focus {
  outline: none;
}

.inventory-ingredients {
  flex: 1;
  overflow: auto;
  z-index: 1;
}

.inventory-ingredients_list {
  flex: 1;
  overflow: auto;
}

/*# sourceMappingURL=main.css.map */
