* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Rouge Script", cursive;
  font-weight: normal;
  color: #e3e3e3;
  padding: 0.3rem;
  font-size: 2rem;
}

h2 {
  font-family: "Norican", cursive;
  font-size: 1.5rem;
  text-align: center;
  font-weight: lighter;
  color: #e3e3e3;
  background-color: #6c8cb8;
  border-radius: 5px;
  margin: 0.25rem 0;
}

h3 {
  font-family: "Ruda", sans-serif;
  color: #516f9b;
  background-color: #bacdeb;
  padding: 0.2rem;
  font-size: 1rem;
}

h4 {
  font-family: "Lato", sans-serif;
  color: #516f9b;
  font-size: 1rem;
  padding: 0.2rem;
}

h5 {
  color: #516f9b;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

ul {
  list-style: none;
}

@media screen and (min-width: 650px) {
  .mobile-only {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .desktop-only {
    display: none;
  }
}
.icon {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.page {
  padding: 0.25rem 0.25rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

@media screen and (min-width: 650px) {
  .page {
    margin: 0.5rem 1rem;
    overflow: unset;
  }
}
.drawer-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #bacdeb;
  margin: 0;
  padding: 0;
}

.chevron {
  margin-left: auto;
  max-height: 1.5rem;
  max-width: 1.5rem;
  transform: rotateZ(0deg);
  transition: transform 0.4s ease-out;
}
.chevron.rotated {
  transform: rotateZ(180deg);
  transition: transform 0.4s ease-out;
}

.taglist {
  list-style: none;
  color: #516f9b;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0.3rem;
}
.taglist li p {
  font-size: 1.1rem;
  font-weight: bolder;
  padding: 0.4rem;
}

input:focus,
textarea:focus {
  box-shadow: 0px 0px 8px 1px rgba(85, 85, 85, 0.281);
}

button {
  border: 0;
  border-radius: 5px;
  background: #516f9b;
  color: #e3e3e3;
  border: #516f9b 1px solid;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.4rem;
  margin: 0.2rem;
  cursor: pointer;
}
button.secondary {
  background-color: transparent;
  border: #bacdeb 1px solid;
  color: #516f9b;
}

.input-type-button {
  border: 0;
  border-radius: 5px;
  background: #516f9b;
  color: #e3e3e3;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.4rem;
  margin: 0.2rem;
  cursor: pointer;
}

.add-element-icon {
  margin: auto;
  background-color: #516f9b;
  border-radius: 50%;
  padding: 0.3rem;
}

label {
  color: #516f9b;
}

.marginAuto {
  margin: auto;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.spaceBetween {
  justify-content: space-between;
}

.spaceAround {
  justify-content: space-around;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.justifyCenter {
  justify-content: center;
}

.alignItemsCenter {
  align-items: center;
}

.alignContentCenter {
  align-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #516f9b;
  grid-area: header;
  padding: 0 1rem;
}

.global-layout {
  min-height: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 650px) {
  .global-layout {
    display: flex;
    flex-direction: row;
    background-color: #E0E0E0;
    height: auto;
    min-height: 100%;
  }
}
.main-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  z-index: 1;
}

@media screen and (min-width: 650px) {
  .main-layout {
    margin: 0 auto;
    width: 100%;
    min-width: 400px;
    max-width: 45vw;
    background-color: #fff;
    overflow: unset;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #516f9b;
  grid-area: navbar;
}

.navIcon {
  margin: 0.5rem;
  padding: 0.2rem;
  max-height: 2.5rem;
  max-width: 2.5rem;
  z-index: 2;
}

.inventory-category--list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-evenly;
  list-style: none;
  max-height: 200px;
  transition: max-height 0.4s ease-in-out;
}
.inventory-category--list.retracted {
  max-height: 0;
}

.inventory-ingredients {
  flex: 1;
  overflow: auto;
  z-index: 1;
}

.inventory-ingredients--list {
  flex: 1;
  overflow: auto;
}

/*# sourceMappingURL=main.css.map */
