@use '../variables' as v;

.inventory-category--list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-evenly;
  list-style: none;
  max-height: 200px;
  transition: max-height 0.4s ease-in-out;
  &.retracted {
    max-height: 0;
  }
}

.inventory-ingredients {
  flex: 1;
  overflow: auto;
  z-index: 1;
}

.inventory-ingredients--list {
  flex: 1;
  overflow: auto;
}
