@use '../variables' as v;

.recipes-list {
  list-style: none;
  flex: 1;
  overflow: auto;
}

.recipes--search-drawer {
  max-height: 200px;
  overflow: hidden;
  transition: max-height 200ms ease-in-out;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  &.retracted {
    margin: 0;
    max-height: 0;
    transition: max-height 200ms ease-in-out;
  }
}
