@use '../variables' as v;

.dynform--ingdt-container {
  margin: 0.5rem 0.5rem;
  display: grid;
  grid-template-columns: 6fr 2fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 0 8px;
  grid-template-areas:
    'ingredient-number . . .'
    'ingdt-label--name ingdt-label--quantity ingdt-label--unit .'
    'ingdt-input--name ingdt-input--quantity ingdt-input--unit remove-element-btn';
  margin-top: 0.5rem;
}

.ingredient-number {
  grid-area: ingredient-number;
  align-self: center;
  font-weight: bolder;
  color: v.$color1;
}
.ingdt-label--name {
  grid-area: ingdt-label--name;
}
.ingdt-input--name {
  grid-area: ingdt-input--name;
  margin: 0;
  padding: 0;
  min-width: 0;
  max-width: 100%;
  flex: 1;
}
.ingdt-label--quantity {
  grid-area: ingdt-label--quantity;
}
.ingdt-input--quantity {
  grid-area: ingdt-input--quantity;
  margin: 0;
  padding: 0;
  min-width: 0;
}
.ingdt-label--unit {
  grid-area: ingdt-label--unit;
}
.ingdt-input--unit {
  grid-area: ingdt-input--unit;
  margin: 0;
  padding: 0;
  min-width: 0;
}
.remove-element-btn {
  grid-area: remove-element-btn;
  align-self: center;
  border-radius: 50%;
  border: solid 2px v.$color1;
  max-height: 2rem;
  max-width: 2rem;
  padding: 0.2rem;
}
