@use '../variables' as v;

.ingredient-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:nth-child(even) {
    background-color: v.$color7;
  }

  & .name {
    // font-size: 20px;
    flex: 6;
    margin: 0.3rem;
  }

  & .quantity {
    flex: 1;
    margin: 0.3rem;
    text-align: center;
  }

  & .unity {
    flex: 1;
    margin: 0.3rem;
    text-align: center;
  }

  & .delete {
    cursor: pointer;
    margin: 0 0.5rem;
    color: v.$color1;
    font-weight: bold;
    padding: 8px;
  }

  &:hover {
    cursor: pointer;
    background-color: v.$color1;
    color: v.$color2;
    .-delete {
      color: v.$color2;
    }
  }
}
