@use '../variables' as v;

.ingredient-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ingredient-item:nth-child(even) {
  background-color: v.$quad-color;
}

.ingredient-item-name {
  font-size: 20px;
  flex: 6;
  margin: 0.2rem;
}

.ingredient-item-quantity {
  flex: 1;
  margin: 0.2rem;
  text-align: center;
}

.ingredient-item-unity {
  flex: 1;
  margin: 0.2rem;
  text-align: center;
}

.ingredient-item-delete {
  cursor: pointer;
  margin: 0 0.5rem;
  color: v.$prim-color;
  font-weight: bold;
  padding: 8px;
}

.ingredient-item:hover {
  cursor: pointer;
  background-color: v.$prim-color;
  color: v.$sec-color;
  .ingredient-item-delete {
    color: v.$sec-color;
  }
}
