@use '../variables' as v;
@use '../animations';

.ingredient-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  @for $i from 1 through 99 {
    &:nth-child(#{$i}) {
      animation: list-fade-in;
      animation-duration: 50ms + ($i * 50ms);
      animation-delay: 0s + ($i * 50ms);
      animation-fill-mode: both;
    }
  }

  &:nth-child(even) {
    background-color: v.$color7;
  }

  & .name {
    flex: 6;
    margin: 0.3rem;
  }

  & .quantity {
    flex: 1;
    margin: 0.3rem;
    text-align: center;
  }

  & .unity {
    flex: 1;
    margin: 0.3rem;
    text-align: center;
  }

  & .delete {
    cursor: pointer;
    margin: 0 0.5rem;
    color: v.$color1;
    font-weight: bold;
    padding: 8px;
  }

  &:hover {
    cursor: pointer;
    background-color: v.$color1;
    color: v.$color2;
    .delete {
      color: v.$color2;
    }
  }
}
