@use '../variables' as v;
@use '../animations';

.recipe-link {
  text-decoration: none;
  @for $i from 1 through 99 {
    &:nth-child(#{$i}) {
      animation: list-fade-in;
      animation-duration: 50ms + ($i * 50ms);
      animation-delay: 0s + ($i * 50ms);
      animation-fill-mode: both;
    }
  }
}

.myrecipes-card {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px #b2b2b2;
  background-color: v.$color6;
  height: 53px;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    overflow: hidden;
  }

  h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bolder;
    font-size: 1.1rem;
    @media screen and (min-width: v.$bp1-min) {
      font-size: 1.4rem;
    }
  }
}

.myrecipes-image-container {
  display: flex;
  width: 95px;
  @media screen and (min-width: v.$bp1-min) {
    width: 115px;
  }
}
.myrecipes-card-image {
  object-fit: cover;
  overflow: hidden;
  border-radius: 0 8px 8px 0;
  width: 95px;
  @media screen and (min-width: v.$bp1-min) {
    width: 115px;
  }
}
