@use '../variables' as v;

.recipe-link {
  text-decoration: none;
}

.recipe-card {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  border: solid 2px v.$color3;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.438);
  background-color: v.$color6;

  .recipe_image {
    max-width: 6rem;
    max-height: 6rem;
  }
}
