@use '../variables' as v;

.carousel-slider {
  margin: 0.5rem 0;
}

.buttons-container {
  margin-left: auto;
}

.carousel-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0 1rem;
}

.carousel-icon {
  height: 1.4rem;
  padding: 0;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0.5rem;
  height: 230px;
  min-width: 100px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px #b2b2b2;

  h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bolder;
    font-size: 17px;
  }
}

.recipe-card--taglist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0.5rem;
  li {
    p {
      font-family: v.$h3-font;
      color: v.$color1;
      padding: 0 0.2rem;
      font-weight: lighter;
      font-size: 14px;
    }
  }
}

.recipe-card--image {
  object-fit: cover;
  overflow: hidden;
  height: 50%;
  border-radius: 8px 8px 0 0;
}

.recipe-card--info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.5rem;
}

.recipe-card--favicon {
  height: 19px;
  margin: 5px 0;
}
