@use '../variables' as v;

.recipe-card-list {
  padding: 0.25rem;
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.recipe-card {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.5rem;
  height: 300px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px #b2b2b2;

  h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bolder;
    font-size: 17px;
  }
}

.recipe-card--taglist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0.5rem;
  li {
    p {
      font-family: v.$h3-font;
      color: v.$color1;
      padding: 0 0.2rem;
      font-weight: lighter;
      font-size: 14px;
      max-width: 135px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.recipe-card--image {
  object-fit: cover;
  overflow: hidden;
  height: 50%;
  border-radius: 8px 8px 0 0;
}

.recipe-card--info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.5rem;
}

.recipe-card--favicon {
  height: 19px;
  margin: 5px 0;
}
