@use '../variables' as v;

.searchbox {
  padding: 2px;
  display: flex;
  border-radius: 5px;
}

.input {
  border: v.$color3 2px solid;
  border-left: none;
  border-right: none;
  flex: 1;
  color: v.$color1;
  background-color: v.$color4;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.icon {
  background-color: v.$color3;
  max-height: 2.5rem;
  max-width: 2.5rem;
  padding: 8px;
  border-radius: 5px 0 0 5px;
}

.deleteIcon {
  cursor: pointer;
  max-height: 2.5rem;
  max-width: 2.5rem;
  padding: 0.5rem;
  color: v.$color1;
  background-color: v.$color4;
  border: v.$color3 2px solid;
  border-left: none;
  border-radius: 0 5px 5px 0;
}