@use '../variables' as v;

.inventory-toolbox {
  display: flex;
  margin: 0.2rem 0;
  align-items: center;
}

.inventory-toolbox_searchIcon {
  background-color: v.$color1;
  border-radius: 8px;
  max-height: 2.5rem;
  max-width: 2.5rem;
  padding: 0.5rem;
  z-index: 2;
}

.inventory-toolbox_searchIcon:hover {
  cursor: pointer;
}

.inventory-toolbox_input {
  height: 2.5rem;
  min-width: 0rem;
  max-width: 100%;
  margin-left: -1rem;
  margin-right: -2rem;
  border: v.$color3 2px solid;
  border-radius: 0 8px 8px 0;
  flex: 1;
  color: v.$color1;
  background-color: v.$color4;
  font-size: 1rem;
  padding-left: 1.5rem;
  padding-right: 3rem;
  transition: max-width 400ms ease-in-out, padding-left 100ms 400ms, padding-right 100ms 400ms,
    margin-left 100ms 400ms, margin-right 100ms 400ms;

  &.inactive {
    min-width: 0rem;
    max-width: 0rem;
    margin-left: -2rem;
    padding-right: 0rem;
    border: v.$color3 0px solid;
    transition: max-width 200ms ease-in-out 200ms, border 200ms ease-in-out 200ms;
  }

  &:focus {
    outline: none;
  }
}

.inventory-toolbox_deleteIcon {
  z-index: 1;
  padding: 0.5rem;
  max-height: 2rem;
  max-width: 2rem;
  margin-right: 1rem;
  transition: max-width 200ms ease-in-out 300ms, max-height 200ms ease-in-out 300ms,
    opacity 200ms ease-in-out 300ms;

  &.inactive {
    opacity: 0;
    transition: opacity 200ms;
  }

  &:hover {
    cursor: pointer;
  }
}

.inventory-ingredients_add-button {
  margin-left: auto;
  padding: 0.7rem;
}
