@use '../variables' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-family: v.$h1-font;
  font-weight: normal;
  color: v.$color2;
  padding: 0.3rem;
  font-size: 2rem;
}

h2 {
  font-family: v.$h2-font;
  font-size: 1.5rem;
  text-align: center;
  font-weight: lighter;
  color: v.$color1;
  background-color: v.$color3;
  margin: 0.25rem 0;
  border-radius: 5px;
}

h3 {
  font-family: v.$h3-font;
  color: v.$color1;
  background-color: v.$color3;
  padding: 0.2rem;
  font-size: 1rem;
}

h4 {
  font-family: v.$h4-font;
  color: v.$color1;
  font-size: 1rem;
  padding: 0.2rem;
}

h5 {
  color: v.$color1;
  font-family: v.$p-font;
  font-weight: bold;
  font-size: 1rem;
}

p {
  font-family: v.$p-font;
  font-size: 1rem;
}

.section-container {
  margin: 0.25rem 0;
  border: solid 2px v.$color3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.taglist {
  list-style: none;
  color: v.$color1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0.3rem;

  li p {
    font-size: 1.1rem;
    font-weight: bolder;
    padding: 0.4rem;
  }
}

input:focus, textarea:focus {
  box-shadow: 0px 0px 8px 1px rgba(85, 85, 85, 0.281);
}

button {
  border: 0;
  border-radius: 5px;
  background: v.$color1;
  color: v.$color2;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.4rem;
  margin: 0.2rem;
  cursor: pointer;
}

.input-type-button {
  border: 0;
  border-radius: 5px;
  background: v.$color1;
  color: v.$color2;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.4rem;
  margin: 0.2rem;
  cursor: pointer;
}

label {
  color: v.$color1;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.spaceBetween {
  justify-content: space-between;
}

.spaceAround {
  justify-content: space-around;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.justifyCenter {
  justify-content: center;
}

.alignItemsCenter {
  align-items: center;
}

.alignContentCenter {
  align-content: center;
}
