@use "../variables" as v;

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: v.$prim-color;
}

#homeIcon {
  max-height: 3rem;
  max-width: 3rem;
}
