@use '../variables' as v;

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: v.$color1;
  grid-area: navbar;
}

.navIcon {
  margin: 0.5rem;
  padding: 0.2rem;
  max-height: 2.5rem;
  max-width: 2.5rem;
  z-index: 2;
}
